/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 24/12/2021, 06:49:54 PM
    Author     : carlo
*/

#div_principal{
    width:100%;
    height: calc( 100% - 100px );
    background-color: red;
}

#fondoi{
    padding-left: 20px;
    padding-right:  20px;
    background-color: #242424;
}

.row{
    padding-top:  20px;
}

.card{
    background-color: #333333;
}

.card-title{
    color: white;
}

.card-text{
    color:gray;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-track {
    background: #242424;
}

body::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    top: 1px;
    background-image: linear-gradient(0deg, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
    border-radius: 10px;
}
