/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 23/12/2021, 12:02:25 AM
    Author     : carlo
*/

#sugerencias{
    position: absolute;
    left: 250px;
    width: 250px;
    background-color: white;
    opacity: 0;
    transition: opacity 1s;
    border-radius: 10px;
}

#sugerencias.open{
    opacity: 1;
}

#img_favorito{
    height: 250px;
}

#img_perfil_barra{
    background-color: #333333;
    width: 150px;
    height: 150px;
    margin-left: 40px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: +1;
}

#img_perfil_barra #img_perfil{
    width: 130px;
    height: 130px;
    border-radius: 75px;
}

#datos_perfil{
    background-color: #333333;
    padding-left: 25px;
    height: 100px;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 25px;
    max-width: 430px;
    overflow-x: hidden;
    border-radius: 0px 100px 100px 0px;
}

#perfil-barra{
    display: flex;
    align-items: center;
    padding:0;
}

#datos_ubicacion{
    padding:0;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

#ubicacion_img{
    background-color: #333333;
    display: flex;
    align-items: center;
    position: relative;
    right: 10px;
    bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

.span_CambiarContraseña{
    text-align: unset;
}

@media (max-width: 768px) {
    #datos_ubicacion{
        align-items: unset;
        flex-direction: unset;
        justify-content: center;
    }
    #ubicacion_img{
        right: 0px;
        bottom: 0px;
    }
    #datos_perfil{
        padding-left: 25px;
        margin-left: 0;
        border-radius: 0px 0px 0px 0px;
        position: relative;
        bottom: 25px;
        max-width: 202px;
        overflow-x: auto;
    }
    
    .span_CambiarContraseña{
        text-align: center;
    }
    #perfil-barra{
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    #img_perfil_barra{
        background-color: #333333;
        width: 150px;
        height: 150px;
        margin-left: 0px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: +1;
    }

    #img_favorito{
        height: unset;
        padding-bottom: 15px;
    }

    .input-custom{
        margin-top: 10px;
    }
}


#datos_perfil_nombre{
    display: flex;
}


.input-custom{
    background-color: #333333;
    border-radius: 50px 50px 50px 50px;
    border-style: solid;
    border-color: #333333;
    transition: all .2s ease-out;
    text-align: center;
    width:100%;
    color:#B0B0B0;
}
.input-custom:focus{
    transition: all .2s ease-out;
    border: double 2px transparent;
    border-radius: 50px;
    background-image: linear-gradient(#333333, #333333), radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}