/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 23/12/2021, 12:02:25 AM
    Author     : carlo
*/

#sugerencias{
    position: absolute;
    left: 250px;
    width: 250px;
    background-color: white;
    opacity: 1;
    transition: opacity 1s; 
    border-radius: 10px;
}

#c_sugerencias{
  display: flex;
  justify-content: center;
}

#nombre_sugerencias{
    display: block;
    width: 250px;
}
#pais_sugerencias{
    
}

#t_sugerencias{
    display: flex;
    width: 240px;
    height: 50px;
    background-color: white;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}